parameters:
	ignoreErrors:
		-
			message: "#^Cannot access property \\$error on array\\|bool\\|float\\|int\\|object\\|string\\.$#"
			count: 1
			path: build/ZabbixApi.php

		-
			message: "#^Cannot access property \\$result on array\\|bool\\|float\\|int\\|object\\|string\\.$#"
			count: 2
			path: build/ZabbixApi.php

